.userdetails {
  width: 100%;
  // height: 100vh;
  padding: 2rem;

  &__image_and_name {
    padding-bottom: 2rem;
    @media only screen and (max-width: $bp-largest) {
      display: flex;
      width: 100%;
      height: 40%;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
    }
    &__image {
      text-align: center;

      &__img {
        width: 30rem;
        height: 30rem;
        border-radius: 100%;

        @media only screen and (max-width: $bp-largest) {
          width: 15rem;
          height: 15rem;
        }

        @media only screen and (max-width: $bp-large) {
          width: 20rem;
          height: 20rem;
        }
      }
    }
  }

  &__bio {
    padding-bottom: 2rem;
  }

  &__social {
    padding-bottom: 2rem;
  }
}
