.btn {
  &,
  &:link,
  &:visited {
    padding: 2rem 4rem;
    font-size: 2rem;
    font-family: inherit;
    border: none;
    background-color: $surface-color-dark;
    color: $text-color-light;
    font-weight: bold;
    cursor: pointer;

    @media only screen and (max-width: $bp-largest) {
      padding: 1rem 2rem;
      font-size:1.5rem;
    }
  }
}
