.gituser {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__back {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    @media only screen and (max-width: $bp-largest) {
      top: 1rem;
      left: 1rem;
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    width: 100%;
    padding: 2rem;
  }
}
