* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-size: 10rem;
  font-weight: 600;
  color: white;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
}

#particle {
  width: 100%;
  height: 100vh;
  position: relative;
}

.particles__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup {
  color: white;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/gitback.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/gitback.jpg");
  background-position: center;
  -webkit-animation: pop 0.2s linear;
          animation: pop 0.2s linear;
  display: none;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 8rem;
  font-weight: 300;
  cursor: pointer;
}

.popup__result {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5rem;
}

.search {
  width: 80%;
  height: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  width: 80%;
  padding: 2rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 400;
}

.search__btn {
  padding: 2rem 5rem;
  border: 5px solid white;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search__btn:hover {
  background-color: white;
  border: 5px solid white;
  color: greenyellow;
}

.result {
  color: yellowgreen;
}

.result__url {
  color: yellowgreen;
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0.2);
            transform: translate(-50%, -50%) scale(0.2);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pop {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0.2);
            transform: translate(-50%, -50%) scale(0.2);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
/*# sourceMappingURL=main.css.map */