// variables

$color-white: white;
$color-black: black;
$color-grey: grey;
$color-green-yellow: yellowgreen;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-size: 10rem;
  font-weight: 600;
  color: $color-white;

  &--green {
    color: $color-green-yellow;
  }
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
}

#particle {
  width: 100%;
  height: 100vh;
  position: relative;
}

.particles {
  &__container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

.popup {
  color: $color-white;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  z-index: 10;
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url("../images/gitback.jpg");
  background-position: center;
  animation: pop 0.2s linear;
  display: none;

  &__close {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 8rem;
    font-weight: 300;
    cursor: pointer;
  }

  &__result {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5rem;
  }
}

.search {
  //   background-color: green;
  width: 80%;
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__input {
    width: 80%;
    padding: 2rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
  }

  &__btn {
    padding: 2rem 5rem;
    border: 5px solid $color-white;
    font-size: 2rem;
    color: $color-white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $color-white;
      border: 5px solid $color-white;
      color: $color-green-yellow;
    }
  }
}

.result {
  color: $color-green-yellow;

  &__url {
    color: $color-green-yellow;
    transition: 0.2s ease-in-out all;

    &:hover {
      background-color: $color-green-yellow;
      text-decoration: none;
      color: $color-white;
    }
  }
}

@keyframes pop {
  from {
    transform: translate(-50%, -50%) scale(0.2);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
